.logo {
  font-family: "Galdeano", sans-serif;
  color: var(--primary-text);
  font-weight: 600;
  font-size: 25px;
  transition: color 150ms linear;
  &:hover,
  &:focus {
    color: var(--blue);
  }

  &__span {
    color: var(--blue);
    transition: color 150ms linear;
  }
}
