@import "/node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Galdeano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--secondary-background);
  font-weight: 400;
  font-size: 22px;
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --blue: #007bff;
  --primary-text: #444444;
  --secondary-text: #000000;
  --primary-background: #ffffff;
  --secondary-background: #f3f3f3;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: var(--secondary-background);
  border-radius: 2px;
  padding: 15px;
  color: inherit;

  &__label {
    color: (--var(--blue));
  }

  &__input {
    width: 100%;
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin: 2px;
    padding: 8px;
  }

  &__btns {
    display: flex;
    column-gap: 15px;
  }

  &__ok,
  &__cancel {
    font-weight: 400;
    font-size: 22px;
    color: inherit;
    background-color: var(--primary-background);
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 2px;
    transition: background-color 150ms linear;
    margin-top: 30px;

    &:hover,
    &:focus {
      background-color: var(--blue);
    }
  }

  &__delete {
    margin-left: 10px;
    padding: 18px;
  }
}
